/* ---------- CSS RESET ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button, select, textarea, label {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
}

/* ---------- NAVBAR ---------- */
nav {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 8px 8px 6px rgba(129, 117, 117, 0.6);
}

/* ---------- LOGIN ---------- */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------- DASHBOARD ---------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
}

/* admin */
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 6px;
}

