/* ---------- CSS RESET ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button, select, textarea, label {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
}

/* ---------- MAIN CSS ---------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-size: 16px;
}